(
background_image: Some("synth4_background.png"),
size: (1500, 997),
padding: (0.005, 0.001),
background: Sprite(dest_rect: Rect(pos: (0.000000, 0.000000, 1.000000, 0.664667)), src_rect: Rect(pos: (0.000000, 0.000000, 1500.000000, 997.000000))),
 elements: [

        // // OSC 1 Panel
        Toggle(
            widget_id: Bound(eparam: Osc1(Enable)),
            rect: Rect(pos: (0.033333, 0.023333, 0.062000, 0.044000)),
            label: None,
            sprite: Some(ToggleSprite(on: Rect(pos: (0.000000, 997.500000, 42.500000, 1027.000000)), off: Rect(pos: (50.000000, 35.000000, 93.000000, 66.000000))))
        ),
        Spinner(  // Shape
            widget_id: Bound(eparam: Osc1(Shape)),
            rect: Rect(pos: (0.096000, 0.090667, 0.230000, 0.112667)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(  // Octave
            widget_id: Bound(eparam: Osc1(OctaveOffset)),
            rect: Rect(pos: (0.099333, 0.153333, 0.152000, 0.175333)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(  // Semi
            widget_id: Bound(eparam: Osc1(SemitonesOffset)),
            rect: Rect(pos: (0.184000, 0.153333, 0.230000, 0.175333)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Osc1(FineOffset)),
            rect: Rect(pos: (0.256000, 0.153333, 0.302000, 0.175333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Osc1(StereoWidth)),
            rect: Rect(pos: (0.358667, 0.174667, 0.398000, 0.214000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            polarity: Some(Bipolar),
        ),
        Knob(
            widget_id: Bound(eparam: Osc1(Gain)),
            rect: Rect(pos: (0.418667, 0.174667, 0.458000, 0.214000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Osc1(Unison)),
            rect: Rect(pos: (0.352667, 0.094000, 0.410000, 0.112000)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Osc1(UnisonAmt)),
            rect: Rect(pos: (0.424667, 0.092000, 0.450000, 0.117333)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    
        // // OSC 2 Panel
        Toggle(
            widget_id: Bound(eparam: Osc2(Enable)),
            rect: Rect(pos: (0.526667, 0.023333, 0.555333, 0.044000)),
            label: None,
            sprite: Some(ToggleSprite(on: Rect(pos: (43.000000, 997.500000, 85.500000, 1027.000000)), off: Rect(pos: (790.000000, 35.000000, 833.000000, 66.000000))))
        ),
        Spinner(  // Shape
            widget_id: Bound(eparam: Osc2(Shape)),
            rect: Rect(pos: (0.589333, 0.090667, 0.723333, 0.112667)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(  // Octave
            widget_id: Bound(eparam: Osc2(OctaveOffset)),
            rect: Rect(pos: (0.592667, 0.153333, 0.645333, 0.175333)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(  // Semi
            widget_id: Bound(eparam: Osc2(SemitonesOffset)),
            rect: Rect(pos: (0.677333, 0.153333, 0.723333, 0.175333)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Osc2(FineOffset)),
            rect: Rect(pos: (0.749333, 0.153333, 0.795333, 0.175333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Osc2(StereoWidth)),
            rect: Rect(pos: (0.852000, 0.174667, 0.891333, 0.214000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            polarity: Some(Bipolar),
        ),
        Knob(
            widget_id: Bound(eparam: Osc2(Gain)),
            rect: Rect(pos: (0.912000, 0.174667, 0.951333, 0.214000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Osc2(Unison)),
            rect: Rect(pos: (0.846000, 0.094000, 0.903333, 0.112000)),
            label: None, 
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Osc2(UnisonAmt)),
            rect: Rect(pos: (0.918000, 0.092000, 0.943333, 0.117333)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    
        // Filter 1 Panel
        Toggle(
            widget_id: Bound(eparam: Filt1(Enable)),
            rect: Rect(pos: (0.033333, 0.282000, 0.062000, 0.302667)),
            label: None,
            sprite: Some(ToggleSprite(on: Rect(pos: (86.000000, 997.500000, 128.500000, 1027.000000)), off: Rect(pos: (50.000000, 423.000000, 93.000000, 454.000000))))
        ),
        Spinner(
            widget_id: Bound(eparam: Filt1(Mode)),
            rect: Rect(pos: (0.090000, 0.358000, 0.224000, 0.380000)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt1(Cutoff)),
            rect: Rect(pos: (0.350667, 0.322667, 0.390000, 0.362000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt1(Resonance)),
            rect: Rect(pos: (0.418667, 0.322667, 0.458000, 0.362000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt1(EnvAmt)),
            rect: Rect(pos: (0.393333, 0.395333, 0.419333, 0.421333)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    
        // Filter 2 Panel
        Toggle(
            widget_id: Bound(eparam: Filt2(Enable)),
            rect: Rect(pos: (0.526667, 0.282000, 0.555333, 0.302667)),
            label: None,
            sprite: Some(ToggleSprite(on: Rect(pos: (129.000000, 997.500000, 171.500000, 1027.000000)), off: Rect(pos: (790.000000, 423.000000, 833.000000, 454.000000))))
        ),
        Spinner(
            widget_id: Bound(eparam: Filt2(Mode)),
            rect: Rect(pos: (0.583333, 0.358000, 0.717333, 0.380000)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt2(Cutoff)),
            rect: Rect(pos: (0.844000, 0.322667, 0.883333, 0.362000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt2(Resonance)),
            rect: Rect(pos: (0.912000, 0.322667, 0.951333, 0.362000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Filt2(EnvAmt)),
            rect: Rect(pos: (0.886667, 0.395333, 0.912667, 0.421333)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    
            // ADSR Mod Panel
            Knob(
                widget_id: Bound(eparam: ModEnv(Attack)),
                rect: Rect(pos: (0.542000, 0.548000, 0.572000, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: ModEnv(Decay)),
                rect: Rect(pos: (0.586667, 0.548000, 0.616667, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: ModEnv(Sustain)),
                rect: Rect(pos: (0.630667, 0.548000, 0.660667, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: ModEnv(Release)),
                rect: Rect(pos: (0.675333, 0.548000, 0.705333, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            
            // ADSR Amp Panel
            Knob(
                widget_id: Bound(eparam: AmpEnv(Attack)),
                rect: Rect(pos: (0.786667, 0.548000, 0.816667, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: AmpEnv(Decay)),
                rect: Rect(pos: (0.831333, 0.548000, 0.861333, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: AmpEnv(Sustain)),
                rect: Rect(pos: (0.875333, 0.548000, 0.905333, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            Knob(
                widget_id: Bound(eparam: AmpEnv(Release)),
                rect: Rect(pos: (0.920000, 0.548000, 0.950000, 0.578000)),
                arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
                notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
                label: None,
                value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
                value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
            ),
            
        // LFO1
        // TODO: Button for Synced
        Spinner(
            widget_id: Bound(eparam: Lfo1(Target)),
            rect: Rect(pos: (0.068667, 0.525333, 0.215333, 0.547333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Lfo1(Shape)),
            rect: Rect(pos: (0.068667, 0.551333, 0.215333, 0.573333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Lfo1(Rate)),
            rect: Rect(pos: (0.078667, 0.600000, 0.108667, 0.630000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Lfo1(Amt)),
            rect: Rect(pos: (0.124000, 0.600000, 0.154000, 0.630000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    
        // LFO2
        // TODO: Button for Synced
        Spinner(
            widget_id: Bound(eparam: Lfo2(Target)),
            rect: Rect(pos: (0.317333, 0.525333, 0.464000, 0.547333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Spinner(
            widget_id: Bound(eparam: Lfo2(Shape)),
            rect: Rect(pos: (0.317333, 0.551333, 0.464000, 0.573333)),
            label: None,
            value_text: Text(pos: Middle, value: "", scale: 0.016),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Lfo2(Rate)),
            rect: Rect(pos: (0.327333, 0.600000, 0.357333, 0.630000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
        Knob(
            widget_id: Bound(eparam: Lfo2(Amt)),
            rect: Rect(pos: (0.372667, 0.600000, 0.402667, 0.630000)),
            arc_color: Color(r: 0.7, g: 0.7, b: 0.7),
            notch_color: Color(r: 0.0429, g: 0.0468, b: 0.0507),
            label: None,
            value_text: Text(pos: Below(offset_relative: Some(0.006)), value: "", scale: 0.013),
            value_text_color: Color(r: 0.30039, g: 0.30039, b: 0.3019),
        ),
    ])
